Russ feedback on RSA-OAEP

https://mailarchive.ietf.org/arch/msg/spasm/e7OlkcpDMtOWbGLPQB1hEPyyjXQ/

---
Mike:

I think you should reference Section 7.1 of RFC 8017 for the RSA-OAEP specification.

Then, the description should use RSAES-OAEP-ENCRYPT and RSAES-OAEP-DECRYPT as specified there.

I assume that you are thinking about the L parameter being an empty string.

The Mask Generation Function needs to be specified.  I assume you want to use MGF1 from Appendix B.2.1 of RFC 8017.  I think you can state the maskLen for the two cases that you are supporting.

Russ


