Proposals for changes in chapters 2-5, mainly concerning the serialization aspect

The latest version has changed SEQUENCE to byte concatenation, hence in the case of BIT STRING you have to additionally convert to bytes. It should be noted that BIT STRING applies only to the public key of the traditional RSA-OAEP and ECDH algorithms, because the remaining elements of composite structures are encoded as bytes:

![Image](https://github.com/user-attachments/assets/e0c93f05-5412-41c7-8f46-431226614f66)

The detailed proposal of changes is as follows:
1.	Section 2
> Traditional cryptographic algorithms such as RSA-OAEP, ECDH and their elliptic curve variants are vulnerable to
> quantum attacks. 

Traditional cryptographic algorithms such as RSA-OAEP, DH and their elliptic curve variants are vulnerable to quantum attacks. 

Justification: editorial.  

2.	Section 3
> *  KeyGen() -> (pk, sk): A probabilistic key generation algorithm,
>      which generates a public key pk and a secret key sk.\
 
*  KeyGen() -> (pk, sk): A probabilistic key generation algorithm,
      which generates a public key pk and a secret key sk.

Justification: editorial.  

3.	Section 3
> We also borrow the following algorithms from [RFC9180], which deal
>   with encoding and decoding of KEM public key values.
 
We also borrow the following algorithms from [RFC9180], which deal
with encoding and decoding of KEM public key values and KEM private key values, 
including [SECG] to define the conversion function.

Justification: the conversion function must be defined.  

4.	Section 3
> *  DeserializePublicKey(bytes) -> pk: Parse a byte string to recover
>     a public key pk.  This function can fail if the input byte string
>     is malformed.

  *  DeserializePublicKey(bytes) -> pk: Parse a byte string to recover
      a public key pk.  This function can fail if the input byte string
      is malformed.

   *  SerializePrivateKey(sk) -> bytes: Produce a byte string encoding
      the private key sk.

   *  DeserializePrivateKey(bytes) -> sk: Parse a byte string to recover
      a private key sk.  This function can fail if the input byte string
      is malformed.

Justification:  also adding serialization/deserialization of private keys
5.	Section 3
> deseralize

deserialize

> CompositeCiphertextValue

CompositeCipherTextValue  

Justification: for consistency with the other parts of the document; also applies to occurrences in other places

> SerializeCiphertextValue
SerializeCipherTextValue  

Justification: for consistency with the other parts of the document; also applies to occurrences in other places.  

6.	Section 4.1
> 2. Check for component key gen failure 

> "ML-KEM-65"

2. Check for component key generation failure 

"ML-KEM-768"

Justification: editorial.  

> (…) for example, could be "ML-KEM-768"

(…) for example "ML-KEM-768"

Justification: for consistency with the other parts of the document; also applies to Section 4.2, 4.3, 4.4 and 4.6.  

7.	Section 4.2
> (mlkemCT, mlkemSS) = MLKEM.Encaps(mlkemPK) 

(mlkemCT, mlkemSS) = ML-KEM.Encaps(mlkemPK)

Justification: editorial.  

8.	Section 4.3
> mlkemSS = MLKEM.Decaps(mlkemSK, mlkemCT) 

mlkemSS = ML-KEM.Decaps(mlkemSK, mlkemCT)

Justification: editorial.  

9.	Section 4.4
> 4.4.  SerializePublicKey and DeserializePublicKey
>
> Each component KEM public key is serialized according to its respective
> standard as shown in Appendix B and concatenated together using a fixed
> 4-byte length field denoting the length in bytes of the first component
> key, as defined below. 

4.4.  SerializePublicKey and DeserializePublicKey

Each component KEM public key is serialized according to its
   respective standard as shown in Appendix B and concatenated together
   using a fixed 4-byte length field denoting the length in bytes of the
   first component key, as defined below.
In the case of DHKEM, serialization and deserialization of the public keys is performed according to the Section 7.1.1 [RFC9180], which is repeated here for convenience.
For P-256 and P-384 the SerializePublicKey() function of the KEM performs the uncompressed Elliptic-Curve-Point-to-Octet-String conversion according to [[SECG](https://www.rfc-editor.org/rfc/rfc9180.html#SECG)]. DeserializePublicKey() performs the uncompressed Octet-String-to-Elliptic-Curve-Point conversion.
For X25519 and X448, the SerializePublicKey() and DeserializePublicKey() functions are the identity function, since these curves already use fixed-length byte strings for public keys.

In the case of ML-KEM the SerializePublicKey() and DeserializePublicKey() functions are the identity function, since according to the Section 3 [I-D.ietf-lamps-kyber-certificates] ML-KEM-PublicKey is coded as OCTED STRING so no additional encoding of the ML-KEM public key value is applied.

In the case of RSA-OAEP tbd.

Justification: you need to indicate how the conversion is performed.  

10.	Section 4.4
>  3. Calculate the length encoding of the mlkemEncodedPK 
>
> If (mlkemEncodedPK.length) > 2^32
>         then output "message too long" and stop.
>
>     encodedLength = IntegerToBytes(mlkemEncodedPK.length, 4)

  3. Calculate the length of the mlkemPK 

If (mlkemPK.length) > 2^32
         then output "message too long" and stop.

     encodedLength = IntegerToBytes(mlkemPK.length, 4)

Applications MAY verify the mlkemPK length according to the Table 1:

If (mlkemPK.length) ≠ 1184 (ML-KEM-768) or (mlkemPK.length) ≠ 1568 (ML-KEM-1024) 
      then output "wrong length of mlkem PK" and stop.

11.	Section 4.4
>  1. Validate the length of the the input byte string

1.	Validate the length of the input byte string

12.	Section 4.4
>  (…) as shown in the component algorithm appendix.

  (…) as shown in the component algorithm in Appendix B.

13.	Section 4.5
>  The same serialization and deserialization process as described in
>   Section 4.4 should be used to serialize and deserialize the private
>   keys.  The only difference is that pk is the private key, and the
>   output is the concatenation of the mlkem and traditional private keys
>   for serialization, or the mlkem and traditional private keys for
>   deserialization.

In the case of DHKEM, serialization and deserialization of the private keys is performed according to the Section 7.1.2 [RFC9180], which is repeated here for convenience.
For P-256 and P-384, the SerializePrivateKey() function of the KEM performs the Field-Element-to-Octet-String conversion according to [SECG]. If the private key is an integer outside the range [0, order-1], where order is the order of the curve being used, the private key MUST be reduced to its representative in [0, order-1] before being serialized. DeserializePrivateKey() performs the Octet-String-to-Field-Element conversion according to [SECG].
For X25519 and X448, private keys are identical to their byte string representation, so little processing has to be done. The SerializePrivateKey() function MUST clamp its output and the DeserializePrivateKey() function MUST clamp its input, where clamping refers to the bitwise operations performed on k in the decodeScalar25519() and decodeScalar448() functions defined in Section 5 of [RFC7748].

In the case of ML-KEM the SerializePrivateKey() and DeserializePrivateKey() functions are the identity function, since according to the Section 3 [I-D.ietf-lamps-kyber-certificates] ML-KEM-PrivateKey is coded as OCTED STRING so no additional encoding of the ML-KEM private key value is applied.

In the case of RSA-OAEP tbd.

Except for the above the same serialization and deserialization process as described in Section 4.4 should be used to serialize and deserialize the private keys.

14.	Section 4.6
>  4.6.  SerializeCiphertextValue and DeSerializeCiphertextValue
>
>   Each Ciphertext component of CompositeCiphertextValue is serialized
>   according to their respective standard as shown in Appendix B and
>   concatenated together using a fixed 4-byte length field denoting the
>   length in bytes of the first component signature, as shown below.
>   For the Traditional component, the CipherText is the encrypted value
>   'enc' as described in Section 3.1 or Section 3.2 depending on the
>   chosen component algorithm.
>
> Composite-ML-DSA.SerializeCiphertextValue(CompositeCiphertextValue) ->
> bytes
>
> Explicit Input:
>
>  CompositeCiphertextValue    The Composite CipherText Value obtained from Composite-ML-KEM.Encap(pk)

4.6.  SerializeCipherTextValue and DeSerializeCipherTextValue

The ML-KEM ciphertext, as well as the RSA-OAEP algorithm ciphertext are encoded as OCTET STRING hence no serialization (conversion to byte string) is needed and formally we use the identity function for serialization and deserialization. However, the DHKEM algorithm ciphertext (Section 3.2) is the sender's ephemeral public key, encoded as BIT STRING in the case of ECDH hence it must be serialized according to the Section 4.4. Note a raw Edwards public key according to [RFC8410] contains the byte stream so serialization is not needed in that case and formally we use the identity function for serialization and deserialization X25519 and X448 public key (see Section 4.4).  

Taking the above into account each Ciphertext component of CompositeCiphertTextValue is serialized according to their respective standard as shown in Appendix B and concatenated together using a fixed 4-byte length field denoting the length in bytes of the first component signature, as shown below.
For the Traditional component, the CipherText is the encrypted value 'enc' as described in Section 3.1 or Section 3.2 depending on the chosen component algorithm.

Composite-ML-KEM.SerializeCipherTextValue(CompositeCipherTextValue) -> bytes

Explicit Input:

  CompositeCipherTextValue    The Composite CipherText Value obtained from Composite-ML-KEM.Encap(pk)

Justification: clarification of serialization aspects and replacement of DSA with KEM.
  
15.	Section 4.6
>  Serialization Process:
>
>  1. Separate the cipher texts
>
>     (mldkemct, tradkemct) = CompositeCiphertextValue
>
>  2. Serialize each of the constituent cipher texts
> The component cipher texts are serialized according to their
> respective standard as shown in the component algorithm appendix.  For
> the tradkemEncodedCT the ciphertext is the encrypted output as defined in
> 'Promotion of RSA-OAEP into a KEM' or 'Promotion of ECDH into a KEM'.
>
>     mlkemEncodedCt = ML-KEM.SerializeCiphertext(mlkemct)
>     tradkemEncodedCT = Trad.SerializeCiphertext(tradkemct)
>
>  3. Calculate the length encoding of the mlkemEncodedCt
>
>     If (mlkemEncodedCt.length) > 2^32
>         then output "message too long" and stop.
>
>     encodedLength = IntegerToBytes(mlkemEncodedCt.length, 4)
>
>  4. Combine and output the encoded composite ciphertext
>
>     bytes = encodedLength || mlkemEncodedCt || tradkemEncodedCT
>     output bytes
>
>                         Figure 6: Composite
>          SerializeCiphertextValue(CompositeCiphertextValue)

Serialization Process:

  1. Separate the cipher texts

     (mlkemCT, tradCT) = CompositeCipherTextValue

  2. Serialize each of the constituent cipher texts
       The component cipher texts are serialized according to their respective standard
       as shown in the component algorithm in Appendix B.  For the tradkemEncodedCT the
       ciphertext is the encrypted output as defined in 'Promotion of RSA-OAEP into a KEM'
       or 'Promotion of ECDH into a KEM'(i.e. sender’s ephemeral public key).

     mlkemEncodedCT = ML-KEM.SerializeCiphertext(mlkemCT)
     tradkemEncodedCT = Trad.SerializeCiphertext(tradCT)

  3. Calculate the length encoding of the mlkemEncodedCT

     If (mlkemEncodedCT.length) > 2^32
         then output "message too long" and stop.

     encodedLength = IntegerToBytes(mlkemEncodedCt.length, 4)

Applications MAY verify the mlkemCT length according to the Table 1:
If (mlkemCT.length) ≠ 1088 (ML-KEM-768) or (mlkemCT.length) ≠ 1568 (ML-KEM-1024)
         then output "wrong length of mlkem CT" and stop.


  4. Combine and output the encoded composite ciphertext
       bytes = encodedLength || mlkemEncodedCT || tradkemEncodedCT
     output bytes

                         Figure 6: Composite
          SerializeCipherTextValue(CompositeCipherTextValue)

16.	Section 4.6
>  Output:
>
>  CompositeCiphertextValue  The CompositeCiphertextValue
>
> Deserialization Process:
>
>  1. Validate the length of the the input byte string

Output:

  CompositeCipherTextValue  The CompositeCipherTextValue

Deserialization Process:

  1. Validate the length of the input byte string

17.	Section 4.6
>  3. Deserialize the constituent cipher text values
>
>     mlkemCt = ML-KEM.DeserializeCiphertext(mlkemEncodedCt)
>     tradkemCt = Trad.DeserializeCiphertext(tradkemEncodedCt)
>
>  4. If either ML-KEM.DeserializeCiphertext() or
>     Trad.DeserializeCiphertext() return an error,
>     then this process must return an error.
>
>      if NOT mlkemCt or NOT tradkemCt:
>        output "Deserialization error"
>
>  5. Output the CompositeCiphertextValue
>
>     output (mlkemCt, tradkemCt)

3. Deserialize the constituent cipher text values

     mlkemCT = ML-KEM.DeserializeCiphertext(mlkemEncodedCT)
     tradCT = Trad.DeserializeCiphertext(tradkemEncodedCT)

  4. If either ML-KEM.DeserializeCiphertext() or
     Trad.DeserializeCiphertext() return an error,
     then this process must return an error.

      if NOT mlkemCT or NOT tradCT:
        output "Deserialization error"

  5. Output the CompositeCipherTextValue

     output (mlkemCT, tradCT)

18.	Section 4.7
>  propertly 

properly

19.	Section 4.7
>  The following table shows the fixed length values in bytes
> for the public, private and cipher text sizes for ML-KEM which can be
> used to deserialzie the components. 

The following table shows the fixed and possible length values in bytes for the public, private and cipher text sizes for ML-KEM which can be used to deserialize the components.

20.	Section 5

I have a problem interpreting this entire Section. Since the latest version of the document has changed the SEQUENCE of two elements to a concatenation of two byte elements, adding the length in bytes of the first element (related to the ML-KEM algorithm), it seems that such a "serialized" form will be used in other ASN structures, e.g. in X.509 certificates. However, in this chapter, e.g. CompositeKEMPublicKey appears, which element has not appeared anywhere before. Wouldn't it be more reasonable to introduce CompositeSerializeKEMPublicKey, which would be defined as an OCTET STRING, but without additional conversions when used in the SubjectPublicKeyInfo.subjectPublicKey field, similarly to [draft-kyber-certificates]?

Hi @PiotrPopis ,

I am finally getting to this feedback. 

About this suggestion:

>  Section 3
>
>>    We also borrow the following algorithms from [RFC9180], which deal
>>   with encoding and decoding of KEM public key values.
>
> We also borrow the following algorithms from [RFC9180], which deal
with encoding and decoding of KEM public key values and KEM private key values,
including [SECG] to define the conversion function.
>
> Justification: the conversion function must be defined.

I don't know what that means. Can you explain further? What conversion function? We don't have a [SECG] in our references. I am aware of www.secg.org, but that's a website not a document. I don't know what to do with this comment.



According to draft-ietf-lamps-pq-composite-kem-06, the serialization and deserialization aspect should be compliant with RFC 9180 – see chapter 3: "(…) We also borrow the following algorithms from [RFC9180], which deal with encoding and decoding of KEM public key values.". 

My proposal clarifies that in addition to serialization/deserialization of public keys according to RFC 9180, we should also indicate serialization/deserialization of private keys, according to RFC 9180 also. 

At the same time, in chapter 7.1.1 RFC 9180 serialization/deserialization mechanism for ECC public keys is:
a) P-256, P-384 and P-521 - Elliptic-Curve-Point-to-Octet-String conversion (for serialization) and uncompressed Octet-String-to-Elliptic-Curve-Point conversion (for deserialization) according to [SECG]; 
b) X25519 and X448 – identity function. 

In turn, in chap. 7.1.2 RFC 9180 ECC private key serialization/deserialization mechanism is: 
a) P-256, P-384 and P-521 - Field-Element-to-Octet-String conversion (for serialization) and Octet-String-to-Field-Element conversion (for deserialization) according to [SECG]; 
b) X25519 and X448, private keys are identical to their byte string representation, so little processing has to be done. The SerializePrivateKey() function MUST clamp its output and the DeserializePrivateKey() function MUST clamp its input, where _clamping_ refers to the bitwise operations performed on k in the decodeScalar25519() and decodeScalar448() functions defined in Section 5 of [RFC7748]. 
I omitted aspect _clamping_ because I wasn't sure whether such changes would be allowed by the authors at all, but it's probably worth taking a look at.

As for [SECG], it is the document "SEC 1: Elliptic Curve Cryptography," Version 2, May 2009, <https://secg.org/sec1-v2.pdf>


@PiotrPopis Thanks.

> we should also indicate serialization/deserialization of private keys,

Oh. I had actually missed that you added "private keys" to that paragraph. In the future, it might be simpler for both of us if you submitted pull requests rather than long comments like this.


I see.

I am hoping that we don't need to get into the detail of how each component algorithm serializes itself, but I understand your comment now and I will think about it. Certainly we do not want to require a single encoding of an underlying component that might cause compatibility issues with some existing traditional implementations. The authors have discussed this recently and we have cleaned up some text around that in a different pull request.

@PiotrPopis 

Discussed with authors ... we have made a few decisions on how to handle encodings of the underlying traditional components:

1. We should directly reference only RFCs for the underlying components, and only indirectly reference the [SEC#] standards.
1. Any RSA or ECC encoding that is allowed by a PKIX RFC should still be allowed in composite, but we should RECOMMEND the most common one. In effect, we decided that one of the primary design goals of composite is to be a stepping-stone to deploy ML-DSA / ML-KEM quickly on top of existing RSA or ECC deployments, and so it is unacceptable to have, for example, an embedded RSA implementation that cannot be changed that produces private keys in the CRT format, and you cannot use this with Composite. (Note: one exception to this is RSA-PKCS#1v1.5 encryption which we know is still very common, but is already disallowed by NIST). To this effect, we are ok to leave in the risk of two composite implementations being incompatible because they cannot parse each other's traditional component.

We have changes to make his clearer another PR #137 for KEMs and https://github.com/lamps-wg/draft-composite-sigs/pull/154 for SIGS, and those links to other github issues with the relevant discussion.


Here is the proposed new text that we feel strikes the right balance between being clear and precise, but also still allowing any existing encoding to continue being used.

https://github.com/lamps-wg/draft-composite-kem/pull/137/files#diff-7b3ea5108ab106290ae79a3c40838aba0cf1228868deb9863aabd5b3acab21eeR722

So my question is: while this is different than what you propose, can you live with this?

1. _We should directly reference only RFCs for the underlying components, and only indirectly reference the [SEC#] standards._ 
OK 

2. _Any RSA or ECC encoding that is allowed by a PKIX RFC should still be allowed in composite, but we should RECOMMEND the most common one._ 
I understand that this is about the new content in the Serialization {#sec-serialization} chapter, regarding component encodings: ML-KEM, RSA, ECDH and X25519/X448, and in my opinion it is OK. 

3. (…) _To this effect, we are ok to leave in the risk of two composite implementations being incompatible because they cannot parse each other's traditional component._ 
It seems that these new provisions regarding encodings of the underlying components are precise enough that the risk of lack of interoperability is at an acceptably low level. 

4. I understand that references to Appendix B have been abandoned in the context of specifying serialization (version 06, e.g. the first sentence in chapter 4.4 _Each component KEM public key is serialized according to its respective standard as shown in Appendix B_ (...)), 
which is a good solution in my opinion; and now serialization (conversion to byte form) is left without indicating specific functions (e.g. chapter 7.1 RFC 9180), and only the method of encoding keys and ciphertext is specified quite precisely.

5. If I understand this new approach correctly, then - for example - when we use RSA as a traditional component and according to CompositeKEMPublicKey {#sec-composite-pub-keys} Section: 
      CompositeKEMPublicKey ::= BIT STRING 
In the X.509 certificate, in the SubjectPublicKeyInfo field (encoded as BIT STRING) we place the concatenation: the ML-KEM public key saved as a **byte stream** and the RSA public key as a **bit stream**. 
If the above is OK, maybe such an example should be added to the document?


@PiotrPopis I am happy that you agree with this approach.

About your (5.):
In a PR that we merged this week, we have removed the definition of 

    CompositeKEMPublicKey ::= BIT STRING

because in fact now we can make the draft simpler. Instead we only have the direct byte encodings, and we have re-organized existing text into a "Use in X.509" section that tells you how to put these bytes into a DER BIT STRING or OCTET STRING.

https://lamps-wg.github.io/draft-composite-kem/draft-ietf-lamps-pq-composite-kem.html#name-use-within-x509-and-pkix

Are you also happy with this? There are complete test vectors included in the draft now. Do you think it needs further examples?

I believe that all comments 10 - 20 have either already been caught and fixed in other pull requests, or they no longer apply because we have re-written the relevant section. So I believe everything is addressed.

@ounsworth 
Version 07 seems to be OK; it's much better than 06 :)
I have two editorial comments:
1. Instead of "tradKey" in my opinion it should be "tradPK" or "tradSK", i.e.:
a) Section 5.1
> Figure 4: SerializePublicKey(mlkemKey, tradKey) -> bytes

Figure 4: SerializePublicKey(mlkemKey, tradPK) -> bytes

b) Section 5.2
> output mlkemSeed || tradKey

output mlkemSeed || tradSK

2. Section 6.3 has "CompositeKEMPrivateKey", which is not mentioned earlier.
I suggest adding in Section 5.2 a clarification that as a result of serialization of private keys we get "CompositeKEMPrivateKey", i.e. e.g.
> Serialization Process:
> 1. Combine and output the encoded private key
> output mlkemSeed || tradKey

Serialization Process:
1. Combine and output the encoded private key
output: CompositeKEMPrivateKey = mlkemSeed || tradSK

and
> Deserialization Process:
> (...)
> mlkemSeed = bytes[:64]
> tradSK = bytes[64:]

Deserialization Process:
(...)
mlkemSeed = CompositeKEMPrivateKey [:64]
tradSK = CompositeKEMPrivateKey [64:]

if such a change concerning "CompositeKEMPrivateKey" were accepted by the authors, it would be worth introducing an analogous one for public keys, i.e. adding "CompositeKEMPublicKey" in chapters 5.1 and 6.1, especially since the concept of "CompositeKEMPublicKey" appears in the document, but only once in Appendix C.

@ounsworth 
I have an additional note regarding Section 5 of version 07 and the encoding aspect of the traditional element:
> ECDH: MUST be encoded as an ECPoint as specified in section 2.2 of 
> [RFC5480], with both compressed and uncompressed keys supported. For 
> maximum interoperability, it is RECOMMENEDED to use uncompressed points.

ECDH: **public key** MUST be encoded as an ECPoint as specified in section 2.2 
of [RFC5480], with both compressed and uncompressed keys supported. For 
maximum interoperability, it is RECOMMENED to use uncompressed points.

Justification: adding the clarification that this is a public key seems necessary, as the section contains information about public key, private key, and ciphertext.

> X25519 and X448: MUST be encoded as per section 3.1 of [RFC7748] and section 4 of [RFC8410].

This point needs to be improved: (1) there is no section 3.1 in RFC 7748 at all, and (2) in section 4 of RFC 8410 there is the following information:
_Both [RFC7748] and [RFC8032] define the public key value as being a byte string. It should be noted that the public key is computed differently for each of these documents; thus, the same private key will not produce the same public key._
Maybe the authors mean section 3.1 of RFC 8032?; however, then an explanation regarding EdDSA and X25519/X448 should be added?

> > Figure 4: SerializePublicKey(mlkemKey, tradKey) -> bytes
> 
> Figure 4: SerializePublicKey(mlkemKey, tradPK) -> bytes

Already fixed by another PR.

 
> b) Section 5.2
> 
> > output mlkemSeed || tradKey
> 
> output mlkemSeed || tradSK

Done.

> 
>     2. Section 6.3 has "CompositeKEMPrivateKey", which is not mentioned earlier.
>        I suggest adding in Section 5.2 a clarification that as a result of serialization of private keys we get "CompositeKEMPrivateKey", i.e. e.g.
> 
> 
> > Serialization Process:
> > 
> > 1. Combine and output the encoded private key
> >    output mlkemSeed || tradKey
> 
> Serialization Process:
> 
>     1. Combine and output the encoded private key
>        output: CompositeKEMPrivateKey = mlkemSeed || tradSK
> 
> 
> and
> 
> > Deserialization Process:
> > (...)
> > mlkemSeed = bytes[:64]
> > tradSK = bytes[64:]
> 
> Deserialization Process: (...) mlkemSeed = CompositeKEMPrivateKey [:64] tradSK = CompositeKEMPrivateKey [64:]
> 
> if such a change concerning "CompositeKEMPrivateKey" were accepted by the authors, it would be worth introducing an analogous one for public keys, i.e. adding "CompositeKEMPublicKey" in chapters 5.1 and 6.1, especially since the concept of "CompositeKEMPublicKey" appears in the document, but only once in Appendix C.

The term "CompositeKEMPrivateKey" is not used there anymore since we switched to encode the composites directly to a byte array.
I also removed the last to mentions in other sections.

> [@ounsworth](https://github.com/ounsworth) I have an additional note regarding Section 5 of version 07 and the encoding aspect of the traditional element:
> 
> > ECDH: MUST be encoded as an ECPoint as specified in section 2.2 of
> > [RFC5480], with both compressed and uncompressed keys supported. For
> > maximum interoperability, it is RECOMMENEDED to use uncompressed points.
> 
> ECDH: **public key** MUST be encoded as an ECPoint as specified in section 2.2 of [RFC5480], with both compressed and uncompressed keys supported. For maximum interoperability, it is RECOMMENED to use uncompressed points.
> 
> Justification: adding the clarification that this is a public key seems necessary, as the section contains information about public key, private key, and ciphertext.

Done.

> > X25519 and X448: MUST be encoded as per section 3.1 of [RFC7748] and section 4 of [RFC8410].
> 
> This point needs to be improved: (1) there is no section 3.1 in RFC 7748 at all, and (2) in section 4 of RFC 8410 there is the following information: _Both [RFC7748] and [RFC8032] define the public key value as being a byte string. It should be noted that the public key is computed differently for each of these documents; thus, the same private key will not produce the same public key._ Maybe the authors mean section 3.1 of RFC 8032?; however, then an explanation regarding EdDSA and X25519/X448 should be added?

This was a mistake, we wanted to reference RFC 8032 instead of 7748. 

@ounsworth @johngray-dev I wonder if we need the reference to RFC 8410 at all since it only is the X.509 wrapper and we now need the raw byte string which is defined by RFC 8082.

@ounsworth @johngray-dev another question: in (de)serialization we always talk about mlkemSeed, while in KeyGen() and Decap(..) we use mlkemSK. Should the latter be changed to mlkemSeed also? At least there should be a note for KeyGen() that it produces seeds?

I think we should make it more generic and always use the pk form....   In sigs I added an init() method... For ML-KEM or ML-DSA the init() could call the keygen (to expand the seed) for example, or for traditional algorithms it would do nothing.     I'm just working on https://github.com/lamps-wg/draft-composite-sigs/pull/175  which I'll show you tomorrow at our meeting.    Our main algorithm table has been generic forever.. It uses Algorithm1 and Algorithm2 so I tried to follow that logic in the algorithm definitions as well, I think it can work.

John Gray



________________________________
From: janklaussner ***@***.***>
Sent: Tuesday, May 27, 2025 10:55 AM
To: lamps-wg/draft-composite-kem ***@***.***>
Cc: John Gray ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [lamps-wg/draft-composite-kem] Proposals for changes in chapters 2-5, mainly concerning the serialization aspect (Issue #129)

WARNING: This email originated outside of Entrust.
DO NOT CLICK links or attachments unless you trust the sender and know the content is safe.

[https://outlook.office.com/mail/inbox/id/AAMkAGY2MGRlNDIyLTg1NzgtNGI2Yy04ZDQzLWMxNzFlY2M3ZjJhMABGAAAAAABiwzyK79aWRp%2BDL5sGGddfBwC7JJVu2YWASYq4ZU6QGWZ2AAAAAAEMAAAMURFJPhOjQbAZSOB6%2FsYFAAVT7QeOAAA%3D?nativeVersion=1.2025.516.400]janklaussner left a comment (lamps-wg/draft-composite-kem#129)<https://urldefense.com/v3/__https://github.com/lamps-wg/draft-composite-kem/issues/129*issuecomment-2912835479__;Iw!!FJ-Y8qCqXTj2!e8ZEQJqUT9QsoQZfL-wkHmQoEj26HlaC4YX0uimCWGA8hnNKpdRIA8Mea7IBvFzSrDtqMAo6A8AKoT1xJZPsr98iiA$>

@ounsworth<https://urldefense.com/v3/__https://github.com/ounsworth__;!!FJ-Y8qCqXTj2!e8ZEQJqUT9QsoQZfL-wkHmQoEj26HlaC4YX0uimCWGA8hnNKpdRIA8Mea7IBvFzSrDtqMAo6A8AKoT1xJZN2zusiyw$> @johngray-dev<https://urldefense.com/v3/__https://github.com/johngray-dev__;!!FJ-Y8qCqXTj2!e8ZEQJqUT9QsoQZfL-wkHmQoEj26HlaC4YX0uimCWGA8hnNKpdRIA8Mea7IBvFzSrDtqMAo6A8AKoT1xJZPHsQZfiA$> another question: in (de)serialization we always talk about mlkemSeed, while in KeyGen() and Decap(..) we use mlkemSK. Should the latter be changed to mlkemSeed also? At least there should be a note for KeyGen() that it produces seeds?

—
Reply to this email directly, view it on GitHub<https://urldefense.com/v3/__https://github.com/lamps-wg/draft-composite-kem/issues/129*issuecomment-2912835479__;Iw!!FJ-Y8qCqXTj2!e8ZEQJqUT9QsoQZfL-wkHmQoEj26HlaC4YX0uimCWGA8hnNKpdRIA8Mea7IBvFzSrDtqMAo6A8AKoT1xJZPsr98iiA$>, or unsubscribe<https://urldefense.com/v3/__https://github.com/notifications/unsubscribe-auth/ANFGAWJ7WFOP2ADS4SWLX233AR4GTAVCNFSM6AAAAAB2YLW7UWVHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHMZDSMJSHAZTKNBXHE__;!!FJ-Y8qCqXTj2!e8ZEQJqUT9QsoQZfL-wkHmQoEj26HlaC4YX0uimCWGA8hnNKpdRIA8Mea7IBvFzSrDtqMAo6A8AKoT1xJZNuWlUpcQ$>.
You are receiving this because you were mentioned.

Any email and files/attachments transmitted with it are intended solely for the use of the individual or entity to whom they are addressed. If this message has been sent to you in error, you must not copy, distribute or disclose of the information it contains. Please notify Entrust immediately and delete the message from your system.



@ounsworth @janklaussner 
I have a problem with the provisions concerning KEM Combiner and I ask the authors for a comment or possible changes.

1. As for chapter D.1.1, in my opinion it is OK, in the sense that it contains provisions consistent with SP-800-227ipd.

2. At the same time, equation 13 of 227 is repeated in D.1.1, but in chapter 4.4 (and thus also in 4.2 and 4.3) the "Expand" function is omitted when KDF is HKDF.

3. In chapter 4.4 it is mentioned that _many cryptographic libraries provide only a combined interface for HKDF and do not expose HKDF-Extract() and HKDF-Expand() separately_, but this remark should not mean that HKDF-Expand() can be omitted at all?

4. In chapter 4.4 there is a mention of the info parameter, which (I think) according to version 07 should be a zero-length string according to chapter 2.3 of RFC 5869 (the wording "empty"). 
 
5. In my opinion, in chapter 4 the notation consistent with equation 13 should be used and the values ​​of the info parameter should be specified. Am I right?

Re-opening - looks like Piotr has asked more questions just a few hours before we reviewed the changes.  

Thanks for pointing that out John!
For easier tracking, I am splitting Piotr's most recent comments into its own Issue #153 so that I can re-close this one.