further comments from Russ: 

* Unused Reference to 'Aviram22'; please remove it.
* Obsolete informational reference to RFC 4210; it is Obsoleted by RFC 9810.
* Obsolete informational reference RFC 5990; it is Obsoleted by RFC 9690.
* Reference to RFC 8411 should be informative, not normative.
