X25519 and X448 encoding

Section 5 "Serialization"

> X25519 and X448: MUST be encoded as per section 3.1 of [RFC7748].

X25519 and X448: public and private keys MUST be encoded as per section 5 of [RFC7748].

Justification: editorial change.

Note: we should check if we need to make the same change for Ed25519 / Ed448 in -sigs.

Closed in [23df6bd](https://github.com/lamps-wg/draft-composite-kem/commit/23df6bd47221eb37f9cab54b4c274a7ee3f70c49)