Still some underspecified encodings

>  *ML-KEM*: MUST be encoded as specified in sections 7.1, 7.2 and
      7.3 of [FIPS.203], using a 64-byte seed as the private key.

I think 7.3 is unnecessary since it defines decapsulation, without introducing any new encodings.

>    *ECDH*: public key MUST be encoded as an uncompressed ECPoint as
      specified in section 2.2 of [RFC5480].  The private key must be
      encoded as ECPrivateKey specified in [RFC5915] without
      'NamedCurve' parameter and without 'publicKey' field.

Needs to specify ciphertext encoding.  I know it'll just same something about a certina number of raw bytes or whatever, but it should still say something.

>     *X25519 and X448*: the public key MUST be encoded as per section 5
      of [RFC7748] and the private key as CurvePrivateKey specified in
      [RFC8410].

Needs to specify ciphertext encoding.  I know it'll just same something about a certina number of raw bytes or whatever, but it should still say something.

Bah. ECDH-KEM ciphertexts _are_ public keys. I think that's nit-picking. I'll address the ML-KEM comment.